---
layout: layouts/base.njk
pagination:
  data: collections.projects
  size: 1
  alias: item
permalink: "{{ item.data.permalink_ka }}"
eleventyComputed:
  title: "{{ item.data.title_ka }} | GEBA"
  alt_url_en: "{{ item.data.permalink_en }}"
lang: ka
nav_active: projects
---
<section class="project-content">
  {% if item.data.cover %}
    <img src="{{ item.data.cover }}" class="proj-img" alt="{{ item.data.title_ka | escape }}">
  {% endif %}

  <div class="richtext">
    {% set body = item.data.body_ka | default("") %}
    {% set placeholder = "(Write the full project page content here.)" %}

    {% if body and (body | trim) != placeholder %}
      {{ body | safe }}
    {% else %}
      {{ item.templateContent | safe }}
    {% endif %}
  </div>
</section>
