{% if lang == 'ka' %}
<footer class="site-footer" id="contact">
  <div class="footer-inner">
    <div class="footer-col footer-col--brand">
      <img src="/assets/images/Geba logo picture.png" class="footer-logo" alt="GEBA">
      <p class="footer-tagline">საქართველოს ბიოტექნოლოგიის ასოციაცია</p>
    </div>
    <div class="footer-col">
      <h4>ნავიგაცია</h4>
      <ul>
        <li><a href="/index.html">მთავარი</a></li>
        <li><a href="/pages/projects-ge.html">პროექტები</a></li>
        <li><a href="/pages/news-ge.html">სიახლეები</a></li>
        <li><a href="/pages/partners-ge/">პარტნიორები</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>კონტაქტი</h4>
      <p><a href="mailto:info@geba.ge">info@geba.ge</a></p>
      <p>შალვა ნუცუბიძის ქ. #75<br>თბილისი, საქართველო</p>
      <p><a href="https://www.facebook.com/Geba2020" target="_blank" rel="noopener">Facebook</a></p>
    </div>
  </div>
  <div class="footer-bar">
    <p>© 2026 საქართველოს ბიოტექნოლოგთა ასოციაცია</p>
  </div>
</footer>
{% else %}
<footer class="site-footer" id="contact">
  <div class="footer-inner">
    <div class="footer-col footer-col--brand">
      <img src="/assets/images/Geba logo picture.png" class="footer-logo" alt="GEBA">
      <p class="footer-tagline">Georgian Biotechnology Association</p>
    </div>
    <div class="footer-col">
      <h4>Navigation</h4>
      <ul>
        <li><a href="/en.html">Home</a></li>
        <li><a href="/pages/projects.html">Projects</a></li>
        <li><a href="/pages/news.html">News</a></li>
        <li><a href="/pages/partners/">Partners</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Contact</h4>
      <p><a href="mailto:info@geba.ge">info@geba.ge</a></p>
      <p>75 Shalva Nutsubidze St.<br>Tbilisi, Georgia</p>
      <p><a href="https://www.facebook.com/Geba2020" target="_blank" rel="noopener">Facebook</a></p>
    </div>
  </div>
  <div class="footer-bar">
    <p>© 2026 Georgian Biotechnology Association</p>
  </div>
</footer>
{% endif %}
